:root
{
    --blue: #3d91db;
    --roseLeger: #fed1bf;
    --rose: #ed1846;
    --vertLeger: #87f9d4;
    --vert: #00c081;
    --blanc: #ffffff;
    --black: #000;
}
 
 /* Style the navigation menu */
 .topnav {
    overflow: hidden;
    background-color: var(--rose);
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: var(--blanc);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: var(--rose);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: var(--blue);
    color: white;
  } 