@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


/*Colors*/
:root
{
    --blue: #3d91db;
    --roseLeger: #fed1bf;
    --rose: #ed1846;
    --vertLeger: #87f9d4;
    --vert: #00c081;
    --blanc: #ffffff;
}


header
{
    background-color: var(--roseLeger);
    height: 350px;
    display: flex;
}

section
{
    display: flex;
}

.molenbeekImg
{
    height: 400px;
    width: 600px;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 10%;
    border : 1px solid black;
}

.hackathonImg
{
    height: 400px;
    width: 500px;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 10%;
    
}

.header-title
{
  font-size: 5em;
  margin-left:40%;
  margin-top: 5%;
}

.logo
{
    margin-top: 5%;
    margin-left: 10%;
    height: 10vh;
    width: 10vw;
    
}

h3
{
    text-align: center;
}

/*navBar*/
nav
{
    margin-left: 96%;
}

 ul
{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 4vw;
    height: 100%;
    background-color: var(--vertLeger);
    position: fixed;
    overflow: auto;
}

 li
{
    
    list-style: none;
    float: right;
}

 a
{
    
    text-decoration: none;
    display: block;
    padding: 8px;
    transform: rotate(88deg);
    
}


 li a
{
    display: block;
    width: 60px;
    color: var(--blanc);
    margin-top: 200%;
    
}

 li a:hover
{
    color: var(--rose);
    
}
/*End navbar*/

#pinkBox1
{
    background-color: var(--rose);
    height: 800px;
    flex-direction: row;
    
}

#whiteBox1
{
    background-color: var(--blanc);
    height: 800px;
    flex-direction: row;
}

#blueBox
{
    background-color: var(--blue);
    height: 800px;
    /*flex-direction: row;*/
}

#whiteBox3
{
    background-color: var(--blanc);
    height: 800px;
    flex-direction: row;
}

#pinkBox3
{
    background-color: var(--rose);
    height: 800px;
    flex-direction: row;
}


footer
{
    background-color: var(--vertLeger);
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#copyRight
{
    margin-bottom: 2%;
    margin-left: 85%;
}
/*Btn animation*/
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/**/



