/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Notable&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap');

/*Colors*/
:root
{
    --blue: #3d91db;
    --roseLeger: #fed1bf;
    --rose: #ed1846;
    --vertLeger: #87f9d4;
    --vert: #00c081;
    --blanc: #ffffff;
}


header
{
    background-color: var(--roseLeger);
    height: 350px;
    display: flex;
    font-family: 'Notable', sans-serif;
    font-size: 3em;
    
    
}

section
{
    display: flex;
}



.logo
{
    margin-top: 3%;
    margin-left: 5%;
    height: 20vh;
    width: 20vw;
    
}

/*navBar*/
nav
{
    margin-left: 96%;
}

 ul
{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 4vw;
    height: 100%;
    background-color: var(--vertLeger);
    position: fixed;
    overflow: auto;
}

 li
{
    
    list-style: none;
    float: right;
}

 a
{
    
    text-decoration: none;
    display: block;
    padding: 8px;
    transform: rotate(88deg);
    
}


 li a
{
    display: block;
    width: 60px;
    color: var(--blanc);
    margin-top: 200%;
    
}

 li a:hover
{
    color: var(--rose);
    
}
/*End navbar*/

/*Img*/
.molenbeekImg
{
    height: 250px;
    width: 350px;
    margin-top: 4%;
    margin-left: 45%;
    margin-right: 10%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.hackathonImg
{
    height: 400px;
    width: 500px;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 10%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}

.img-thumbnail
{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transform: rotate(20deg);
}
/*END*/

/*Titles*/
#mainTitle
{
    margin-left: 6%;
    margin-top: 2%;
}

.header-title
{
  font-size: 5em;
  margin-left:40%;
  margin-top: 5%;
}



#title-whiteBox1
{
    font-family: 'Notable', sans-serif;
    color: var(--rose);
    text-align: center;
    margin-top: 2%;
}

#p-whiteBox1
{
    font-family: 'Notable', sans-serif;
    color: var(--rose);
    margin-top: 10%;
    margin-left: 2%;
}

/*END*/

/*icones*/
.incons-whiteBox1
{
    margin-top: 3%;
    margin-left: 5%;
    height: 5vh;
    width: 5vw;
    color: var(--rose);
}

/*Box*/
#pinkBox1
{
    background-color: var(--rose);
    height: 800px;
    flex-direction: row;
    
}

#whiteBox1
{
    background-color: var(--blanc);
    height: 800px;
    flex-direction: row;
    font-family: 'Old Standard TT', serif;
}

#blueBox
{
    background-color: var(--blue);
    height: 800px;
    font-family: 'Old Standard TT', serif;
    
}

#whiteBox3
{
    background-color: var(--blanc);
    height: 800px;
    flex-direction: row;
}

#pinkBox3
{
    background-color: var(--rose);
    height: 800px;
    flex-direction: row;
}
/*END*/

/*Btn*/
#btn-cv
{
    
}

#btn-pinkBox1
{
    margin-top: 70%;
}

#btn-whiteBox1
{
    margin-left: 30%;
    margin-top: 30%;
}


/*Btn animation*/
.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn27 {
    background-image: linear-gradient(
      to right,
      #ed6ea0,
      #ec8c69,
      #f7186a,
      #fbb03b
    );
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
  }
/*btn-animation end*/

  footer
{
    background-color: var(--vertLeger);
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#copyRight
{
    margin-bottom: 2%;
    margin-left: 85%;
}
