/*Colors*/
:root
{
    --blue: #3d91db;
    --roseLeger: #fed1bf;
    --rose: #ed1846;
    --vertLeger: #87f9d4;
    --vert: #00c081;
    --blanc: #ffffff;
}

body
{
    background-color: black;
}

#pinkL
{
    background-color: var(--roseLeger);
}

#pink
{
    background-color: var(--rose);
}

#white
{
    background-color: var(--blanc);
}

#blue
{
    background-color: var(--blue);
}

footer
{
    background-color: var(--vertLeger);
    height: 100px;
}

